<div class="wrapper">
    <div class="form">
        <input type="text" placeholder="Type to search" [(ngModel)]="searchWord" (ngModelChange)="allAnagrams(searchWord)">
        <button class="button undo" (click)="reRollAnagram(searchWord)" *ngIf="searchWord.length > 0">Undo</button>
    </div>

    <div class="content" *ngIf="searchWord.length > 0 || favoriteAnagrams.length > 0">
        <h2 class="title">Basic</h2>
        <app-loader *ngIf="showLoader"></app-loader>
        <div class="result" *ngIf="!showLoader && anagrams.length > 0">
            <p *ngFor="let anagram of anagrams">{{anagram.word}}</p>
        </div>
        <!-- to display any favorite anagrams even if search word is erased-->
        <div class="result" *ngIf="!showLoader && anagrams.length === 0 && favoriteAnagrams.length > 0">
            <p *ngFor="let anagram of favoriteAnagrams">{{anagram.word}}</p>
        </div>

        <h2 class="title">Advanced</h2>
        <app-loader *ngIf="showLoader"></app-loader>
        <app-table [data]="advancedAnagrams" [level]="'advanced'" (index)="favoriteAnagram($event)"></app-table>

        <h2 class="title">Master</h2>
        <app-loader *ngIf="showLoader"></app-loader>
        <button class="button sort" (click)="buildSortedAnagrams('word')" *ngIf="!sortAnagrams">Sort Anagrams Alphabetically (asc)</button>
        <button class="button sort" (click)="buildSortedAnagrams('-word')" *ngIf="sortAnagrams">Sort Anagrams Alphabetically (desc)</button>
        <app-table *ngIf="!sortAnagrams" [data]="advancedAnagrams" [level]="'master'" (index)="favoriteAnagram($event)"></app-table>
        <app-table *ngIf="sortAnagrams" [data]="sortedAnagrams" [level]="'master'" (index)="favoriteAnagram($event)"></app-table>

        <h2 class="title">Impossible</h2>
        <div class="result" *ngIf="!showLoader">
            <p *ngFor="let anagram of validAnagrams">{{anagram}}</p>
            <p *ngIf="validAnagrams === undefined">No valid anagrams found for the searched string!</p>
        </div>
    </div>
</div>