.wrapper {
    padding: 25px;
}

.form {
    text-align: center;
}

input[type="text"] {
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 25px;
    padding: 0 10px;
    height: 25px;
}

.result {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.result p {
    margin: 0 10px;
}


/* buttons */

.button {
    background-color: transparent;
    border: 1px solid #5B5B5B;
    border-radius: 25px;
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
}

.button:hover {
    cursor: pointer;
    background-color: #5b5b5b;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.undo {
    width: 100px;
    height: 30px;
    display: inline-block;
    margin-left: 5px;
}

.sort {
    display: block;
    margin: 0 auto 25px auto;
    padding: 0 15px;
    min-width: 300px;
    height: 40px;
}