<div class="wrapper">
    <div class="form">
        <input type="text" placeholder="Type to search" [(ngModel)]="searchWord" (ngModelChange)="allAnagrams(searchWord)">
        <button class="button undo" (click)="reRollAnagram(searchWord)" *ngIf="searchWord.length > 0">Undo</button>
    </div>

    <div class="content" *ngIf="searchWord.length > 0">
        <h2 class="title">Basic</h2>
        <app-loader *ngIf="showLoader"></app-loader>
        <div class="result" *ngIf="!showLoader">
            <p *ngFor="let anagram of anagrams">{{anagram.word}}</p>
        </div>

        <h2 class="title">Advanced</h2>
        <app-loader *ngIf="showLoader"></app-loader>
        <table>
            <tr>
                <th>Anagrams</th>
                <th>Favorite</th>
            </tr>
            <tr *ngFor="let anagram of advancedAnagrams; let i = index">
                <td>{{anagram.word}}</td>
                <td [ngClass]="{'favorite' : anagram.favorite, 'star': !anagram.favorite}" (click)="favoriteAnagram(i)"></td>
            </tr>
        </table>

        <h2 class="title">Master</h2>
        <app-loader *ngIf="showLoader"></app-loader>
        <button class="button sort" (click)="buildSortedAnagrams('word')" *ngIf="!sortAnagrams">Sort Anagrams Alphabetically (asc)</button>
        <button class="button sort" (click)="buildSortedAnagrams('-word')" *ngIf="sortAnagrams">Sort Anagrams Alphabetically (desc)</button>
        <table *ngIf="!sortAnagrams">
            <tr>
                <th>Anagrams</th>
                <th>Favorite</th>
            </tr>
            <tr *ngFor="let anagram of advancedAnagrams; let i = index">
                <td>{{anagram.word}}</td>
                <td [ngClass]="{'favorite' : anagram.favorite, 'star': !anagram.favorite}" (click)="favoriteAnagram(i)"></td>
            </tr>
        </table>
        <table *ngIf="sortAnagrams">
            <tr>
                <th>Anagrams</th>
                <th>Favorite</th>
            </tr>
            <tr *ngFor="let anagram of sortedAnagrams; let i = index">
                <td>{{anagram.word}}</td>
                <td [ngClass]="{'favorite' : anagram.favorite, 'star': !anagram.favorite}" (click)="favoriteAnagram(i)"></td>
            </tr>
        </table>

        <h2 class="title">Impossible</h2>
        <div class="result" *ngIf="!showLoader">
            <p *ngFor="let anagram of validAnagrams">{{anagram.word}}</p>
            <p *ngIf="validAnagrams === undefined">No valid anagrams found for the searched string!</p>
        </div>
    </div>
</div>